img.logo {
  max-width: 30px;
  width: 100%;
  height: auto;
}
.carousel-heigth{
  height: 520px;
  overflow: hidden;
}
.card-group{
  display: flex;
  justify-content: space-around;;
}
.card{
  margin: 20px;
}
.informacion .informacion-title {
  font-size: 48px;
  padding-top: 70px;
  padding-left: 0px;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
}
.informacion {
  width: 100%;
  height: 240px;
  position: relative;
  background-color: blue;
}
.novedades a {
  position: relative;
  margin: auto;
}
footer {
  position: relative;
  background-color: #474747;
}
footer p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 0;
  line-height: 28px;
  margin: 36px 0px 31px 100px;
  position: absolute;
}
footer div {
  display: flex;
  justify-content: flex-end;
  position: relative;
  padding: 36px 100px 31px 0px;
}

footer div a {
  margin-left: 36px;
  font-size: 18px;
  color: #ffffff;
}

footer div a:visited {
  color: #ffffff;
}
